

<nav class="navbar bg-light d-flex flex-column justify-content-center">
  <h1 class="navbar-brand mb-0 h1">Bug Tracker</h1>
  <img src="/assets/img/bug_img.png" alt="bugs">
  <p><em>An issue tracker for development projects</em></p>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8 pending">
            <h3>Needs Work</h3>
            <p><em>Click to move to completed</em></p>
            {{#each bug}}
            {{#unless completed }}
                <div class="row item" data-id="{{this.id}}">
                    <div class="col-md-12">
                        <h4>{{this.title}}</h4>
                        <p>{{this.bug}}</p>
                    </div>
                </div>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-4 completed">
            <h3>Completed</h3>
            <p><em>Click to delete</em></p>
            {{#each bug}}
            {{#if completed}}
                <div class="row item2" data-id="{{this.id}}">
                    <div class="col-md-12">{{this.title}}</div>
                </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
<div class="container textContainer">
    <div class="row">
        <div class="col-md-12 input">
            <form class="description-form" >

                <div class="form-group">
                    <label for="exampleFormControlInput1">Title of issue:</label>
                    <input type="text" class="form-control" id="title">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description:</label>
                    <textarea class="form-control" name="description" id="desc" rows="3"></textarea>
                </div>
                <button class="btn btn-danger" type="submit">submit</button>

            </form>
        </div>
    </div>
</div>
